/* Body */


body {
    height:100%;
}
.container-fluid {
    height:100vh;
    width: 100%;
    margin: 0%;
    background-color: #F7ECDE;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    height: 100vh;
}

.main-container{
    /* height: 90vh; */
    display: block;
    line-height: 1.5;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: nowrap;
    
    
}


.main-container .left{
    padding: 20px;
    color: #54BAB9;
    margin: 20% 2% 25% 5%;
}

.main-container h1{
    font-weight: bold;
    font-size: 2rem;
}

.main-container .right{
    color: #AEAEAE;
    font-size: 1rem;
    margin: 10% 2% 5% 5%;
}

.startHereButton {
    background-color: #54BAB9;
    color: #ffff;
    padding: 20px;
    border-radius: 15px;

    display: inline-block;
}


.startHereButton:hover {
    background-color: #9ED2C6;
    /* padding: 20px;
    border-radius: 15px;

    display: inline-block; */
}

.left a {
    color: #ffff;
}

.left a:link {
    text-decoration: none;
}
.left a:hover {
    text-decoration: none;
}

.calculations {
    background-color: #ffff;
    font-size: 1rem;
    margin: 10% 5% 5% 5%;
    height: auto !important;
}

.calculations .col-sm-4{
    text-align: center;
}

.calcSections{
    padding: 20px 0 20px 0;
}
#sponsorDetails .col-sm-2{
    text-align: center;
}
.spacer {
    padding: 20px 0 20px 20px;
}

.other-main {

    height: auto !important;
}

hr {
    border-top: dotted 2px;
    height:2px;
    color:gray;
    background-color:gray;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
    
    
}
.hidden {
    /* visibility: hidden;
    max-height: 0;
    display: none; */
}
.hidden2{
    visibility: hidden;
    max-height: 0;
    display: none;
}

.button-background, .btn-secondary {
    background-color: #F7ECDE !important;
    color: #AEAEAE !important;
}

.calculateButtonArea {
    margin-left: 25% !important;
    text-align: center;
    width: 50%;
}

#resultsSection {
    background-color: #F7ECDE;
    height: auto;
}

.endSection{
    margin: 5% 2% 25% 5% !important;
    height: auto;
}

.bottom-container{
    display: block;
    text-align: center;
    flex-wrap: nowrap !important;
}
.bottom-container a, .bottom-container p{
    padding: 0% 8%;
    color: #54BAB9;
}

.bottom-container p{
    color: #9ED2C6;
    font-weight: bold;
}